@charset "UTF-8";
@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
  .general .cards .block h2 {
    white-space: normal;
    text-align: center;
    font-size: 16px;
  }
  .general .cards .block p {
    padding: 0 15px;
    font-size: 10px;
    line-height: 16px;
  }
  footer .footer_wrapper {
    gap: 100px;
  }
}
@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
  header .nav {
    display: none;
  }
  header .nav .wrapper .right_header {
    gap: 10px;
  }
  header .nav .wrapper .right_header ul {
    gap: 10px;
  }
  header .mobile_nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  header .mobile_nav .main_btn {
    height: 100%;
    display: flex;
    align-items: center;
  }
  header .mobile_nav .main_btn .bar {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  header .mobile_nav .main_btn .bar .line {
    width: 30px;
    height: 3px;
    background-color: #000;
  }
  header .mobile_nav .main_btn .left_header_mob {
    display: none;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    padding: 20px 30px;
  }
  header .mobile_nav .main_btn .left_header_mob > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
  }
  header .mobile_nav .main_btn .left_header_mob > ul li {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  header .mobile_nav .main_btn .left_header_mob > ul li a {
    font-weight: 700;
  }
  header .mobile_nav .main_btn .left_header_mob > ul li > ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    display: none;
  }
  header .mobile_nav .main_btn .left_header_mob > ul li > ul li {
    margin-left: 20px;
  }
  header .mobile_nav .logo {
    background-color: #721423;
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - 100px);
    top: 0;
    cursor: pointer;
  }
  header .mobile_nav .right_nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  header .mobile_nav .right_nav .btn_header {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    background-color: #721423;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
  }
  header .mobile_nav .right_nav .dropdown_lang2 {
    display: none;
    position: absolute;
    z-index: 2;
    top: 60px;
    right: 10px;
    cursor: pointer;
  }
  header .mobile_nav .right_nav .dropdown_lang2 ul {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 0;
    box-shadow: inset 0px 9px 5px 0px rgba(0, 0, 0, 0.1019607843);
  }
  header .mobile_nav .right_nav .dropdown_lang2 ul a {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #721423;
    font-weight: 700;
    font-size: 12px;
  }
  header .mobile_nav .right_nav .dropdown_lang2 ul a li {
    font-weight: 700;
  }
  header .mobile_nav .right_nav .dropdown_lang2 ul a:nth-child(1) {
    padding-top: 0;
  }
  header .mobile_nav .right_nav .dropdown_lang2 ul a:nth-last-child(1) {
    padding-bottom: 0;
    border: none;
  }
  header .mobile_nav .right_nav .dropdown_lang2.active {
    display: block;
  }
  header .mobile_nav .right_nav .lang_active2 {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .projects {
    padding: 30px 0;
  }
  .projects .projects_list {
    gap: 20px;
  }
  .projects .projects_list .project_item {
    height: 200px;
  }
  .projects .projects_list .project_item .gradient {
    padding: 25px 20px;
    background: linear-gradient(360deg, rgb(0, 0, 0), transparent);
  }
  .projects .projects_list .project_item .gradient .wrapper_info h2 {
    font-size: 20px;
  }
  .projects .projects_list .project_item .gradient .wrapper_info p {
    font-size: 10px;
  }
  .left_header ul {
    gap: 10px;
  }
  .general {
    height: 50vh;
  }
  .general .info {
    gap: 5px;
  }
  .general .info h2 {
    font-size: 24px;
  }
  .general .info p {
    font-size: 12px;
  }
  .general .cards {
    flex-direction: column;
  }
  .general .cards .block {
    transition: height 1s;
    width: 100%;
    height: 100px;
  }
  .general .cards .block h2 {
    transform: rotate(0deg);
  }
  .general .cards .block p {
    padding: 0 15px;
    font-size: 10px;
    line-height: 16px;
  }
  .general .cards .block.expanded {
    width: 100%;
    height: calc(100% - 300px); /* 600px = 3 * 200px (ширина остальных блоков) */
    transition: 0.5s all ease;
  }
  footer .footer_wrapper {
    flex-direction: column;
    gap: 20px;
  }
  footer .footer_wrapper .title_footer {
    text-align: center;
    margin-bottom: 10px;
  }
  footer .footer_wrapper .contacts_footer {
    text-align: center;
  }
  footer .footer_wrapper .logo_footer {
    text-align: center;
  }
  footer .footer_wrapper ul {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .footer_wrapper ul li {
    text-align: center;
  }
}/*# sourceMappingURL=media.css.map */