@font-face {
    font-family: 'Caspian';
    src: url('../fonts/CaspianLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Caspian';
    src: url('../fonts/CaspianRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Caspian';
    src: url('../fonts/CaspianBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Caspian', sans-serif;
    /* font-weight: 400;  */
    user-select:none;
}
.container{
    width: 100%;
    padding: 0 60px;
    height: 100%;
}
ul{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
body{
    /* background-color: #e2e2e2; */
    background-color: #fff;
}